body{
	background:#2b273e;
}

*{
	font-family: 'Eczar', serif;
	border:0;
}

.navbar body {
	box-shadow: 0 5px 10px rgba(0,0,0,.3);
	background: #333;
	font-size:50px; 
}

.navbar .navbar-toggler{
}


#titleCard{
	width:100%;
	height:50%;
	background:#EEE;
}

.nav-item .nav-link{
	text-color:#EEE !important;
}

.fullimg{
	width:100%;
	opacity:.9;
}

.imgthumb{
	opacity:.9;
	width:100%;
}

.column{
	display:inline-block;
}

.entry{
	height:600px;
}

.entry1{
}
@media (min-width: 20em) {
	.entry1{
		height:20em;
	}
}
.row .column{
	opacity:.8;
	
}

.entry .imgtxt{
	align:center;
	text-align:center;	
}

.column .entry, .column .entry1{
	padding:1em;
	background: #EEE;
	color:#999;
}

.row .center{
	align:center;
	text-align:center;
}

.entry .sub-title{
	align:center;
	text-align:center;
}

.njitlogo{
	width:100%;
	float:left;
}

.container-fluid .parallax{
	background-attachment: fixed !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.jumbotron .onimg{
	top: 35%;
	left:50%;
	transform: translate(-50%,-50%);
	width: 75%;
	position:absolute;
	color:#EEE !important;
}

.projimg{
	padding:.25em;
}

ul li{
	padding-right:5px;
	padding-left:7px;
}

.nav-link .fa{
	padding-right:10px;
}

.nav-link .fas{
	padding-right:10px;
}

.container .row{
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	background:#00F;
}

.lists{
	font-size:20px;
}

